Source: ros-hydro-libpcan
Section: misc
Priority: extra
Maintainer: Florian Weisshardt <fmw@ipa.fhg.de>
Build-Depends: debhelper (>= 7.0.50~), libpopt-dev, linux-headers-generic, ros-hydro-catkin, ros-hydro-mk, ros-hydro-rosbuild, ros-hydro-roslib, ros-hydro-rospack
Homepage: http://p103112.typo3server.info/fileadmin/media/linux/index.htm
Standards-Version: 3.9.2

Package: ros-hydro-libpcan
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: This package wraps the libpcan to use it as a ros dependency
